body{
  padding: 0 0 0 0;
  font-family: sans-serif;
  font-size: medium;
  background-image: url("./hello.jpg");
}
.header{
  padding: 10px 10px 10px 10px;
  background-color: rgb(238, 34, 136);
}
.header a{
  color: #dddddd
}
main-content{
  width: 500px; 
  padding: 20px 20px 20px 20px;
  border: 1px solid #dddddd
}

  h1 {
    color: rgb(240, 245, 247);
    border-color: #f4f7f7
    
  }

  h2 {
    color: #2f0468;
    margin: 20px 0 5px 0;
    border-bottom: 5px solid #090229;
    padding: 2px;
  }

  h3 {
    color: #1e0447;
    margin: 20px 0 5px 0;
  }

.Trainess Schedule li {
    border: 1px solid #b56663;
    padding-left: 15px;
  }

  nav{
    padding-left: 0;
    margin:5px 0 20px 0;
    text-align: center;
  }